
.header{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ba1004;
  height: calc(9vh);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 100000000;

  .header__logo {
    width: auto;
    height: auto;
  }

}