.search-page{
  padding-top: calc(9vh);
  height: calc(91vh);
  display: flex;
  flex-flow: column;

  text-align: center;
  &__search {
    padding-top: 2%;
  }

  &__results {
    flex: 1 1 auto;
    margin-top: 3%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &__no-results {
      color: white;
    }
  }
}